.btn-primary {
  background-color: $primary !important;
  border: none !important;

  &:hover {
    background-color: #bc0c73 !important;
  }
}

.btn-outline-primary {
  border-color: $primary !important;
  color: $primary !important;

  &:hover {
    background-color: #bc0c73 !important;
    border-color: #bc0c73 !important;
    color: $gray-100 !important;
  }
}

.btn-edit {
  width: 35px;
  height: 35px;
}

.new-listing {
  pointer-events: all !important;
  cursor: not-allowed !important;

  &:hover {
    background-color: $primary !important;
  }
}
