.btn-primary {
  &:hover {
    background-color: $dark-indigo;
  }
}

#editProfileBtn {
  width: 35px;
  height: 35px;
}

.new-listing {
  pointer-events: all !important;
  cursor: not-allowed;

  &:hover {
    background-color: $primary;
  }
}

#dropdownBtn,
#indicatorBtn,
#prevBtn,
#nextBtn,
.close-btn {
  &:focus-visible {
    border: 2px solid $primary;
  }
}
