.listing-card {
  color: $black;

  & .img-container {
    overflow: hidden;
    min-height: 230px;
  }

  & .listing-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }

  &:hover {
    color: $black;

    & .listing-img {
      transform: scale(1.1);
    }
  }

  & .badge {
    background-color: $secondary !important;
    color: $black !important;
  }

  & .listing-img {
    transition: 0.25s ease;
  }
}
