footer {
  background-color: $gray-300;
  color: $dark;

  & p {
    max-width: 200px;
  }

  & .footer-section {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: $primary;
      height: 2px;
      width: 50px;
    }
  }

  & .nav-link {
    color: $dark;
    border-color: $dark !important;

    &:hover {
      color: $primary;
    }
  }

  & .border-bottom {
    border-color: $gray-500 !important;
  }

  & .social-links a {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}
