.top-txt {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.hero-title {
  font-family: "Sonder", sans-serif;
  color: #282827;
}

.hero-img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
}
