.img-thumbnail {
  width: 35px;
  height: 35px !important;
  object-fit: cover;
}

.img-thumbnail-small {
  width: 20px;
  height: 20px !important;
  object-fit: cover;
}

.profile-picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.small-img {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}

.listing-img {
  height: 500px;
  object-fit: cover;
}
