.logo {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.navbar-nav {
  & .nav-link {
    color: $dark;

    &:hover,
    &:focus {
      color: $primary;
      text-decoration: none;
    }

    &.active {
      color: $primary;
      font-weight: 700;
    }
  }
}
