.logo {
  max-width: 70px;
}

.navbar-nav {
  & .nav-link {
    &:hover {
      color: $primary;
      text-decoration: none;
    }

    &.active {
      color: $primary !important;
      font-weight: 700 !important;
    }
  }
}
