.tab-content {
  background-color: $white;
}

.nav-tabs {
  & .nav-link {
    color: $gray-600;

    &:hover {
      color: $primary;
    }
    &.active {
      color: $primary !important;
      background-color: $white !important;
    }
  }
}
