#hero {
  background-color: $gray-200;

  & .hero-title {
    font-family: "Sonder", sans-serif;
    max-width: 500px;
    letter-spacing: 0.3rem;
  }

  & .lead {
    max-width: 450px;
  }

  & .hero-img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
  }
}
